<h1>Lista de Torres</h1>
<%= link_to raw("<i class='material-icons'>add</i>") , new_tower_path, :class => "btn-floating btn-light waves-effect waves-light blue" %>

<table>
	<thead>

		<th>Nombre </th>
		<th>Portero</th>
		<th>Aptos</th>

	</thead>
	<% @towers.each do |t|  %>
	<tbody>
		<tr>
			<td><%=t.nombre%></td>
			<td><%= t.portero %></td>
			<td><%= t.apartaments.count %></td>
			<td><%=link_to raw("<i class='material-icons'>mode_edit</i>"), edit_tower_path(t)%></td>
			<td><%= link_to raw("<i class='material-icons '>delete</i> " ), tower_path(t), method: :delete, data: {confirm: "Estas
Seguro"} %></td> <td><%=link_to raw("<i class='material-icons right'>info</i>apartamentos " ), t,:class => "btn waves-effect waves-light blue" %>
</td>
		</tr>
	
	<% end %>
</tbody>
</table>
